<!--<div class="flex h-screen">
  <app-menu class="bg-gray-700"></app-menu>
  <app-sidebar class="hidden sm:block"></app-sidebar>
  <div class="flex-1">
    <app-chat-window class="w-3/4 h-screen"></app-chat-window>
    <app-chat-input class="w-1/4"></app-chat-input>
  </div>
</div>-->
<router-outlet></router-outlet>


<!--<div class="flex flex-col h-screen">
  <div class="flex flex-1">
    <app-menu class="bg-gray-700"></app-menu>
    <app-sidebar class="hidden sm:block"></app-sidebar>
    <div class="flex-1 flex flex-col">
      <app-chat-window class="flex-1"></app-chat-window>
      <app-chat-input></app-chat-input>
    </div>
  </div>
</div>-->
